@font-face {
    font-family: "Panthera";
    src: url(../fonts/panthera/PantheraRegular-MVZ9J.ttf) format("TrueType");
}
@font-face {
    font-family: "Beyno";
    src: url(../fonts/beyno/BEYNO.ttf) format("TrueType");
}
@font-face {
    font-family: "Wakanda forever";
    src: url(../fonts/wakanda-forever/WakandaForever-Regular.ttf) format("TrueType");
}
@font-face {
    font-family: "Cantarell";
    src: url(../fonts/cantarell/Cantarell-Regular.ttf) format("TrueType");
}

:root {
    --violet: #DF99F2;
    --white: #ffffff;
    --gris: #9E91B7;
    --rose: #F2CEF2;
    --clear-blue: #3D2DA6;
    --blue: #07338C;
    --deep-blue: #021740;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--white);
    font-family: "Cantarell", sans-serif;
    font-size: 1rem;
    /* background-image: url(../assets/All_pages/arrière_plan.png); */
    background: url(../assets/All_pages/arrière_plan.png), radial-gradient(126.67% 350.28% at -21.35%
    0%, #11213F 0%, #0B0B0B 39.1%, rgba(2, 23, 64,
    0.837641) 94.57%, rgba(2, 23, 64, 0) 100%)
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

/* HEADER */
nav {
    padding: 3rem 2rem;
}
.logo {
	display: flex;
    flex-direction: row;
	align-items: center;
	gap: 0.75rem;
	height: 1rem;
}
.logo img {
	height: 1.5rem;
}
.logo .cross {
	height: 33%;
}
.nav-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
}
.nav-links {
    font-family: "Beyno";
    display: flex;
    flex-direction: row;
    gap: 4rem;
}
.link-active {
    color: var(--violet);
    text-decoration: underline;
}
.nav-links a:hover {
    text-decoration: underline;
}